.appview-container .main .block-container{
    padding-top: 1rem;
}

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

.css-1oe6wy4 {
    padding-top : 2.5rem ;
}

.css-1kyxreq {
    justify-content : center;
    margin-bottom : 1rem;
}

input {
    text-transform: uppercase;
}

.css-pxxe24 {
    visibility: hidden;
}

.vega-embed .vega-actions a:nth-child(3),
.vega-embed .vega-actions a:nth-child(4),
.vega-embed .vega-actions a:nth-child(5) {
    display: none;
}
